page-login {
	ion-content img {
  		display: block;
  		width: 60vw;
  		height : 60vw;
  		margin: auto;
	}

	.scroll-content {
  background-color: #91AEC3;
	}

	.item-ios {
		  position: relative;
		  padding-left: 1px;
		  border-radius: 0;
		  font-size: 1.7rem;
		  color: #fff;
		  background-color: #91AEC3;
		  transition: background-color 200ms linear;
	}

	.list-ios > .item-block:first-child {
 	 border-top: 0px solid #c8c7cc;
	}
}